# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [8]:
import sys
sys.executable

'/Users/gcooke/.virtualenvs/pandas_cub/bin/python'

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [11]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [12]:
df

In [13]:
df_final

In [14]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [15]:
a = {'a':2}

In [18]:
isinstance([1, 2, 3], dict)

False

In [19]:
import numpy as np

In [20]:
a = np.array([1, 2, 3])

In [22]:
isinstance(a, np.ndarray)

True

In [24]:
len(a.shape)

1