# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/Users/gcooke/.virtualenvs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df_final

In [5]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [ ]:
a = {'a':2}

In [6]:
isinstance([1, 2, 3], dict)

False

In [7]:
import numpy as np

In [8]:
a = np.array([1, 2, 3])

In [9]:
isinstance(a, np.ndarray)

True

In [10]:
len(a.shape)

1

In [11]:
a8 = np.array(['b', 'a', 'a', 'a', 'b', 'a', 'a', 'b'])
b8 = np.array(['B', 'A', 'A', 'A', 'B', 'B', 'B', 'A'])
c8 = np.array([1, 2, 3, 4, 5, 6, 7, 8])
df = pdc.DataFrame({'a': a8, 'b': b8, 'c': c8})
df_pandas = pd.DataFrame({'a': a8, 'b': b8, 'c': c8})


#  df_result = df8.pivot_table(rows='a')
df_answer_rows = pd.DataFrame({'a': np.array(['a', 'b'], dtype=object),
                           'size': np.array([5, 3])})

#  df_result = df8.pivot_table(rows='a', values='c', aggfunc='sum')
df_answer_rows_values = pd.DataFrame({'a': np.array(['a', 'b'], dtype=object),
                           'sum': np.array([22, 14])})

#  df_result = df8.pivot_table(columns='b')
df_answer_columns = pd.DataFrame({'A': np.array([4]),
                           'B': np.array([4])})

#  df_result = df8.pivot_table(columns='a', values='c', aggfunc='sum')
df_answer_columns_values = pd.DataFrame({'a': np.array([22]), 'b': np.array([14])})

In [12]:
df.pivot_table(rows='a')

TypeError: nunique() takes 1 positional argument but 2 were given

In [20]:
df_answer_rows_values

   a  sum
0  a   22
1  b   14

In [24]:
df[['a', 'c']]

In [32]:
df['a'].unique().values

array([['a'],
       ['b']], dtype=object)

In [45]:
t = df[1, ['a', 'c']].values

In [48]:
t[0][1]

2

In [51]:
a = np.array([1, 2, 3, 4])

In [58]:
f = getattr(a, 'sum')

In [59]:
f()

10

In [60]:
df_answer_rows_values

   a  sum
0  a   22
1  b   14