# Test pandas_cub manually

In this notebook, we will test pandas_cub manually.

In [1]:
import sys
sys.executable

'/Users/gcooke/.virtualenvs/pandas_cub/bin/python'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas_cub as pdc
import pandas_cub_final as pdcf
import pandas as pd

In [4]:
name = np.array(['Penelope', 'Niko', 'Eleni'])
state = np.array(['Texas', 'California', 'Texas'])
height = np.array([3.6, 3.5, 5.2])
school = np.array([True, False, True])
weight = np.array([45, 40, 130])

data = {'name': name, 'state': state, 'height': height, 
        'school': school, 'weight': weight}

df = pdc.DataFrame(data)
df_final = pdcf.DataFrame(data)
df_pandas = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df_final

In [5]:
df_pandas

       name       state  height  school  weight
0  Penelope       Texas     3.6    True      45
1      Niko  California     3.5   False      40
2     Eleni       Texas     5.2    True     130

In [ ]:
a = {'a':2}

In [6]:
isinstance([1, 2, 3], dict)

False

In [7]:
import numpy as np

In [8]:
a = np.array([1, 2, 3])

In [9]:
isinstance(a, np.ndarray)

True

In [10]:
len(a.shape)

1

In [11]:
a8 = np.array(['b', 'a', 'a', 'a', 'b', 'a', 'a', 'b'])
b8 = np.array(['B', 'A', 'A', 'A', 'B', 'B', 'B', 'A'])
c8 = np.array([1, 2, 3, 4, 5, 6, 7, 8])
df = pdc.DataFrame({'a': a8, 'b': b8, 'c': c8})
df_pandas = pd.DataFrame({'a': a8, 'b': b8, 'c': c8})


#  df_result = df8.pivot_table(rows='a')
df_answer_rows = pd.DataFrame({'a': np.array(['a', 'b'], dtype=object),
                           'size': np.array([5, 3])})

#  df_result = df8.pivot_table(rows='a', values='c', aggfunc='sum')
df_answer_rows_values = pd.DataFrame({'a': np.array(['a', 'b'], dtype=object),
                           'sum': np.array([22, 14])})

#  df_result = df8.pivot_table(columns='b')
df_answer_columns = pd.DataFrame({'A': np.array([4]),
                           'B': np.array([4])})

#  df_result = df8.pivot_table(columns='a', values='c', aggfunc='sum')
df_answer_columns_values = pd.DataFrame({'a': np.array([22]), 'b': np.array([14])})

In [71]:
df_answer_columns_values

    a   b
0  22  14

In [64]:
ans = df['b'].value_counts()

In [74]:
#df_result = df8.pivot_table(rows='a', columns='b', values='c', aggfunc='sum')
df_answer = pdc.DataFrame({'a': np.array(['a', 'b'], dtype=object),
                                   'A': np.array([9., 8.]),
                                   'B': np.array([13., 6.])})

In [75]:
df_answer

In [78]:
t = df['b'].unique().values.flatten()

In [79]:
list(t)

['A', 'B']

In [81]:
['a', *list(t)]

['a', 'A', 'B']

In [83]:
temp = list(t)

In [84]:
temp

['A', 'B']

In [86]:
df['a'].unique().values.flatten()

array(['a', 'b'], dtype=object)